.container
  .col-md-12
    %h1{:colspan => "2", :style => "text-align:center;"}
      P3
    %h3{:colspan => "2", :style => "text-align:center;"}
      %u Physicians/Patients/Prescriptions Data System
      %br
  .col-md-8
    %a.btn.btn-primary.btn-lg.btn-block{:href => doctors_path, :role => "button"} View Physicians »
  .col-md-4
    %img{:alt => "Icon", :src => "/assets/images/docs_banner"}/
    %br
    %br
  .col-md-8
    %a.btn.btn-primary.btn-lg.btn-block{:href => medications_path, :role => "button"} View Medications »
